{% extends 'base.html.twig' %}
{# {% block somenavigation %}
{% if institution is defined %}
    {% include 'utilities/_actionsForInstitution.html.twig'%}
{% else %}
    {% include 'utilities/_actions.html.twig'%}
{% endif %}
{% endblock %} #}
{% block body %}
{% if data|length > 0 %}   
<div class="container-fluid mb-3 mt-3">
    {# <div class="jumbotron"> #}
        <h3 class="text-center">
            {% if institution is defined %}
            {{institution.institutionName|removeSynergy}}
            {% else %}
            {{'inventory.index.title'|trans}}
            {% endif %}
        </h3>
    {# </div> #}
    <div class="mb-3 mt-3">
        <table class="datatable table table-striped" id="inventoryTable" style="width: 100%">
            <thead class="thead">
                <tr class="bg-info">
                    <th scope="col">{{'inventory.index.table.label'|trans}}</th>
                    <th scope="col">{{'inventory.index.table.productnummer'|trans}}</th>
                    <th scope="col">{{'inventory.index.table.serial'|trans}}</th>
                    <th scope="col">{{'inventory.index.table.model'|trans}}</th>
                    {% if noclients is defined and noclients %}
                    {# nothing to do here #}
                    {% else %}
                    <th scope="col">{{'inventory.index.table.firstname'|trans}}</th>
                    <th scope="col">{{'inventory.index.table.lastname'|trans}}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.label }}</td>
                    <td>
                        {% if noclients is defined and noclients %}
                        <a href="{{path('loan_new', { productnumber: item.productnumber, model: item.model, schoolId: item.schoolId, serialnumber: item.serialnumber }) }}">
                            {{ item.productnumber }}
                        </a>
                        {% else %}
                        <a href="{{path('invetory_details', { id: item.id }) }}">
                            {{ item.productnumber }}
                        </a>
                        {% endif %}
                    </td>
                    <td>{{ item.serialnumber }}</td>
                    <td>{{ item.model }}</td>
                    {% if noclients is defined and noclients %}
                    {# nothing to do here #}
                    {% else %}
                    <td>{{ item.firstname }} - {{ item.lastname }}</td>
                    <td>{{ item.type }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="container mb-3 mt-3">
    <div class="jumbotron">
        <p class="lead text-center">
            Geen data
        </p>
    </div>
</div>
{% endif %}
{% endblock %}
