<footer class="footer mt-5 bg-dark text-white pb-0 mb-0">
    <div class="container-fluid">
        {# <div class="d-flex justify-content-start">
            <a class="btn btn-default" href="{{path('changeLocale', {locale: 'en'})}}">
                <img src="/assets/lang/united-kingdom.png" width="20" />
            </a>
             <a class="btn btn-default" href="{{path('changeLocale', {locale: 'nl'})}}">
                <img src="/assets/lang/netherlands.png" width="20" />
            </a>
             <a class="btn btn-default" href="{{path('changeLocale', {locale: 'fr'})}}">
                <img src="/assets/lang/france.png" width="20" />
            </a>
            <a class="btn btn-default" href="{{path('changeLocale', {locale: 'de'})}}">
                <img src="/assets/lang/germany.png" width="20" />
            </a>
            <a class="btn btn-default" href="{{path('changeLocale', {locale: 'es'})}}">
                <img src="/assets/lang/spain.png" width="20" />
            </a>
        </div> #}
    </div>
</footer>