{% if withoutlocation|length > 0 %}
{# {% if synergy is defined %} #}
<div class="container-fluid mb-3 mt-3">
    {# <form method="POST" action="{{path('assigncustomertolocation', {synergy: synergy})}}">
        <div class="d-flex justify-content-end mb-3 mt-3">
            {% if locations is defined and locations|length > 0 %}
            <select class="selectpicker" name="location" required="true">
                <option value=""></option>
                {% for location in locations %}
                <option value="{{location.id}}">{{location.institutionName}}</option>
                {% endfor %}
            </select>
            {% endif %}
            <button class="btn btn-info" type="submit">Move</button>
        </div> #}
        <div class="mb-3 mt-3">
            {% set tag01 = (data[0].freefieldtag01 != NULL) %}
            {% set tag02 = (data[0].freefieldtag02 != NULL) %}
            {% set tag03 = (data[0].freefieldtag03 != NULL) %}
            {% set tag04 = (data[0].freefieldtag04 != NULL) %}
            {% set tag05 = (data[0].freefieldtag05 != NULL) %}
            <table class="customertable table table-hover" id="customerNoLocationTable" style="width: 100%">
                <thead class="thead">
                    <tr class="bg-info">
                        <th scope="col"></th>
                        <th scope="col">{{'customer.data.table.firstname'|trans}}</th>
                        <th scope="col">{{'customer.data.table.lastname'|trans}}</th>
                        <th scope="col">{{'customer.data.table.email'|trans}}</th>
                        <th scope="col">{{'customer.data.table.type'|trans}}</th>
                        <th scope="col">{{'customer.data.table.location'|trans}}</th>
                        <th scope="col" class="text-center">
                            <input type="checkbox" id="customerNoLocationTableCheckAll" name="customerNoLocationTableCheckAll"/>
                        </th>
                        {% if tag01 %}
                        <th scope="col">{{withoutlocation[0].freefieldtag01}}</th>
                        {% endif %}
                        {% if tag02 %}
                        <th scope="col">{{withoutlocation[0].freefieldtag02}}</th>
                        {% endif %}
                        {% if tag03 %}
                        <th scope="col">{{withoutlocation[0].freefieldtag03}}</th>
                        {% endif %}
                        {% if tag04 %}
                        <th scope="col">{{withoutlocation[0].freefieldtag04}}</th>
                        {% endif %}
                        {% if tag05 %}
                        <th scope="col">{{withoutlocation[0].freefieldtag05}}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for item in withoutlocation %}
                    {% set value01 = item.freefieldvalue01 %}
                    {% set value02 = item.freefieldvalue02 %}
                    {% set value03 = item.freefieldvalue03 %}
                    {% set value04 = item.freefieldvalue04 %}
                    {% set value05 = item.freefieldvalue05 %}
                    <tr>
                        <td class="text-center">
                            <a href="{{path('customerdetails', {cid: item.id})}}"><i class="fas fa-search"></i></a>
                        </td>
                        <td>{{ item.firstname }}</td>
                        <td>
                            {{ item.lastname}}
                        </td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.type }}</td>
                        <td class="text-center">--</td>
                        <td class="text-center">
                            <input class="form-check-input" type="checkbox" value="{{item.id}}" id="{{item.id}}" name="customer[]"/>
                        </td>
                        {% if tag01 %}
                        <td>
                            {% if value01 != NULL %}
                            {{value01}}
                            {% else %}
                            --
                            {% endif %}
                        </td>
                        {% endif %}
                        {% if tag02 %}
                        <td>
                            {% if value02 != NULL %}
                            {{value02}}
                            {% else %}
                            --
                            {% endif %}
                        </td>
                        {% endif %}
                        {% if tag03 %}
                        <td>
                            {% if value03 != NULL %}
                            {{value03}}
                            {% else %}
                            --
                            {% endif %}
                            </td>
                        {% endif %}
                        {% if tag04 %}
                        <td>
                            {% if value04 != NULL %}
                            {{value04}}
                            {% else %}
                            --
                            {% endif %}
                            </td>
                        {% endif %}
                        {% if tag05 %}
                        <td>
                            {% if value05 != NULL %}
                            {{value05}}
                            {% else %}
                            --
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {# </form> #}
</div>
{# {% endif %} #}
{% else %}
<div class="container">
    <div class="jumbotron">
        <p>{{'loan.index.nodata'|trans}}</p>
    </div>
</div>
{% endif %}