<div class="col-md-4 col-sm-4 mb-3">
    <a class="card" href="{{ path('inventoryForInsitutionlocation', {locationid: m4sLocationId})}}">
        <div class="card-body carddashboard text-white bg-primary text-center">
            <i class="fas fa-laptop"></i>&nbsp;{{inventoryCounter}}
        </div>
        <h5 class="card-footer mb-0 text-center">{{ 'institution.counter.inventory'|trans }}</h5>
    </a>
</div>
{#<div class="col-md-3 col-sm-4 mb-3">#}
{#    <a class="card" href="">#}
{#        <div class="card-body carddashboard text-white bg-danger text-center">#}
{#            <i class="fas fa-calendar-alt"></i>&nbsp;{{clientWithoutDeviceCounter}}#}
{#        </div>#}
{#        <h5 class="card-footer mb-0 text-center">{{ 'institution.counter.clientsWithoutDevices'|trans }}</h5>#}
{#    </a>#}
{#</div>#}
<div class="col-md-4 col-sm-4 mb-3">
    <a class="card" href="{{ path('customerForInstitutionlocation', {locationid: m4sLocationId}) }}">
        <div class="card-body carddashboard text-white bg-success text-center">
            <i class="fas fa-user"></i>&nbsp;{{clientsCounter}}
        </div>
        <h5 class="card-footer mb-0 text-center">{{ 'institution.counter.clients'|trans }}</h5>
    </a>
</div>